/*This is my very first CSS file! Hello, CSS*/
/* */

/* Set up Heading 1 color */
h1 {
    color: rgb(143, 0, 159); 
}

/* Set Up Heading 2 color */
h2 {
    color:rgb(3, 15, 152);
}

/* Set Up Heading 3 color */
h3 {
    color: hsl(30deg 82% 43%);
}

/* Set Up Summary color */
summary {
    color: hsl(30deg 82% 43%);
}

/* Variables in :root selector have global access */
:root { 
    --main-color: darkgreen; 
}

/* Set up Paragraph color */
p {
    /* Variable that has a fallback/backup */
    color: var(--main-color,rgb(139, 0, 30)); 
}

/* Apply background styles to your elements (classes) */
.fieldSetBox {
    background-color: aquamarine;
    /* Third Absolute Unit*/
    width: 6in;
}

/* Website Background */
body {
    background-color: peachpuff;
}

/* Units of measurement for sizing and spacing your elements */
.attendance_list li {
    /* First Relative Unit */
    font-size: 1.05em;
}

.attendance_list .team_lead {
    /* Second Relative Unit */
    font-size: 1.3rem;
}

.attendance_list .designer {
    /* Third Relative Unit */
    font-size: 2vw;
}

img {
    /* First Absolute Unit*/
    width: 500px;
}

textarea {
    /* Second Absolute Unit*/
    width: 13cm;
}



