/*This is my very first CSS file! Hello, CSS*/
/* */

/* Set up Heading 1 color */
h1 {
    color: rgb(143, 0, 159); 
}

/* Set Up Heading 2 color */
h2 {
    color:rgb(3, 15, 152);
}

/* Set Up Heading 3 color */
h3 {
    color: hsl(30deg 82% 43%);
}

/* Set Up Summary color */
summary {
    color: hsl(30deg 82% 43%);
}

/* Variables in :root selector have global access */
:root { 
    --main-color: darkgreen; 
}

/* Apply background styles to your elements (classes) */
/* Website Background */
body {
    background-color: peachpuff;
}

.fieldSetBox {
    background-color: aquamarine;
    /* Third Absolute Unit*/
    width: 6in;
}

/* Units of measurement for sizing and spacing your elements */
.attendance_list li {
    /* First Relative Unit */
    font-size: 1.05em;
}

.attendance_list .team_lead {
    /* Second Relative Unit */
    font-size: 1.3rem;
}

.attendance_list .designer {
    /* Third Relative Unit */
    font-size: 2vw;
}

/* Configure the containers that hold your HTML content */
textarea {
    /* First Absolute Unit*/
    width: 13cm;
        /* Borders */
    /* LONG hand border-style */
    border-left-style: groove;
    /* LONG hand border-color */
    border-top-color: rgb(155, 111, 7);
    /* LONG hand border-width */
    border-top-width: 3px;
    border-left-width: 2.5px;
    /* LONG hand border-radius */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

        /* Margin */
    /* Long */
    margin-top: .1em;
    margin-bottom: 1em;
    margin-left: .1em;
    margin-right: .1em;
    
        /* Padding */
    /* Long */
    padding-top: .5em;
    padding-bottom: .01em;
    padding-left: .5em;
    padding-right: .5em;
}

img {
        /* Borders */
    /* Second Absolute Unit*/
    width: 500px;
    /* SHORT hand border-style */
    border-style: dashed;
    /* SHORT hand border-color */
    border-color: green;
    /* SHORT hand border-width */
    border-width: thick;
    /* SHORT hand border-radius */
    border-radius: 13px;

        /* Margin */
    /* Short */
    margin: 1.1em 1em 1em 1em;

        /* Padding */
    /* Short */
    padding: .3em .3em .3em .3em;
}

button {
        /* Padding */
    /* Auto */
    padding: auto;

        /* Margin */
    /* Auto */
    margin: auto;
}

/* Style your text */
p {
    /* Set up Paragraph color */
    /* Variable that has a fallback/backup */
    color: var(--main-color,rgb(139, 0, 30));
    /* text-align */
    text-align: start; 
}

span {  
    /* text-decoration */
    text-decoration: underline dotted;
}

/* Display */
.agenda_container li {
    display: block;
    background-color: rgb(111, 236, 222);
    width: 220px;
    padding: .3em .3em .3em .3em;
    margin-block: .5em;
}

#audio_caption {
    display: inline;
    background-color: tan;
}